<%= form_for [:instructors, @section, @requirement] do |f| %>
  <% if @requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requirement.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
        <% @requirement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :skill_id, class: "control-label" %>
    <%= f.select :skill_id, Skill.all.collect {|s| [ s.name, s.id ] }, { include_blank: true }, { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :value, class: "control-label" %>
    <%= f.select :value, Requirement.values.keys, { include_blank: true }, { class: "form-control"} %>
  </div>

  <%= f.submit class: "btn btn-default" %>
<% end %>
