<%= form_for [:student, @skill], method: :post  do |f| %>
<% if @skill.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

    <ul>
      <% @skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="form-group">
    <%= f.label :skill, class: "control-label" %>
    <%= f.collection_select :skill_id, Skill.all, :id, :name, {}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn btn-default" %>
  </div>
<% end %>
