<%= form_for [:administrator, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.check_box :is_administrator %> Is Administrator
      </label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn btn-default" %>

    <%= link_to 'Back', administrator_user_path(@user), class: "btn btn-default" %>

    <% unless @user.new_record? %>
      <%= link_to "Delete", administrator_user_path(@user), method: :delete,
        data: {confirm: "Are you sure?"}, class: "btn btn-danger pull-right" %>
    <% end %>
  </div>
<% end %>
