<%= form_for [:administrator, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>First Name</label>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Email</label>
    <%= f.email_field :email, class: "form-control" %>
    <span class="help-block">This email <strong>must</strong> be of the form <code>@oregonstate.edu</code> and match this user's ONID username. Failure to follow this convention will result in data synchronization errors.</span>
  </div>

  <div class="form-group">
    <label>CcInstructorTag</label>
    <%= f.text_field :cc_instructor_tag, class: "form-control" %>
    <span class="help-block">This field <strong>must</strong> be of the form <code>[Last Name], [First Initial].</code>. Failure to follow this convention will result in data synchronization errors.</span>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.check_box :is_administrator %> User Is An Administrator
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :fte %>
    <%= f.number_field :fte, step: 0.01, min: 0, max: 0.50, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn btn-default" %>

    <% unless @user.new_record? %>
      <%= link_to "Delete", administrator_user_path(@user), method: :delete,
        data: {confirm: "Are you sure?"}, class: "btn btn-danger pull-right" %>
    <% end %>
  </div>
<% end %>
