<tr>
  <td><%= link_to user.id, administrator_user_path(user) %></td>
  <td><%= link_to user.first_name, administrator_user_path(user) %></td>
  <td><%= link_to user.last_name, administrator_user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
</tr>
