<h2><%= @section.term %> <%= @section.course.name %></h2>

<br>

<h4>Student Preferences</h4>

<p>
  Student preferences are your chance to impact the likelihood of a student being
  assigned as the GTA for your section.
</p>

<% if @section.student_preferences.empty? %>
  <div class="well">No student preferences found.</div>
<% else %>
<div class="list-group">
  <%= render @section.student_preferences %>
</div>
<% end %>

<%= link_to "New preference",
  new_section_student_preference_path(@section), { class: "btn btn-default" } %>

<br>
<br>
<br>

<h4>Requirements</h4>

<p>
  Requirements restrict which GTAs are eligible to be assigned to your course.
  For the best results, be conservative and only assign skills that are <u>required</u> for your course.
</p>

<% if @section.course.requirements.empty? %>
  <div class="well">No requirements found.</div>
<% else %>
<div class="list-group">
  <%= render @section.course.requirements %>
</div>
<% end %>

<%= link_to "New requirement",
  new_section_requirement_path(@section), { class: "btn btn-default" } %>

<br>
<br>
<br>

<h4>Section Preferences (Students Who Prefer This Section)</h4>
<% if @section.section_preferences.empty? %>
  <div class="well">No section preferences found.</div>
<% else %>
<ul class="list-group">
  <% @section.section_preferences.each do |section_preference| %>
    <li class="list-group-item">
      <span class="label label-primary"><%= section_preference.value %></span>
      <%= section_preference.student.full_name %>
    </li>
  <% end %>
</ul>
<% end %>
