<h2><%= @section.term %> <%= @section.course.name %></h2>

<h4>Instructor Preferences</h4>

<div class="list-group">
  <%= render @section.student_preferences %>
</div>

<%= link_to "New preference",
  new_section_student_preference_path(@section), { class: "btn btn-default" } %>

<br>
<br>
<br>

<h4>Required Skills</h4>

<div class="list-group">
  <%= render @section.course.requirements %>
</div>

<%= link_to "New requirement",
  new_section_requirement_path(@section), { class: "btn btn-default" } %>

<br>
<br>
<br>

<h4>Students Who Prefer This Section</h4>
<% if @section.section_preferences.empty? %>
  <div class="well">No preferences found.</div>
<% else %>
<ul class="list-group">
  <% @section.section_preferences.each do |section_preference| %>
    <li class="list-group-item">
      <span class="label label-primary"><%= section_preference.value %></span>
      <%= section_preference.student.full_name %>
    </li>
  <% end %>
</ul>
<% end %>
