<h2>Settings</h2>

<div class="well">
  <h4>Data Management</h4>

  <%= link_to "Manage Users", administrator_users_path, class: "btn btn-primary" %>
  <%= link_to "Manage Skills", skills_path, class: "btn btn-primary" %>
</div>

<div class="well">
  <h4>Current Term</h4>

  <%= form_tag "/administrator/settings/current_term", method: "post" do %>
    <div class="form-group">
    <%= select_tag :current_term,
      options_for_select(@terms, Setting.current_term), class: "form-control" %>
    </div>
    <%= submit_tag "Save", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="well">
  <h4>Export Preferences</h4>

  <p>Export Student and Instructor preferences in Excel format.</p>

  <%= link_to "Export Section Preferences",
    administrator_settings_section_preferences_path(format: "xlsx"),
    class: "btn btn-primary" %>

  <%= link_to "Export Student Preferences",
    administrator_settings_student_preferences_path(format: "xlsx"),
    class: "btn btn-primary" %>
</div>
