<tr>
  <td><%= link_to user.id, administrators_user_path(user) %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td><%= link_to 'Edit', edit_administrators_user_path(user) %></td>
  <td><%= link_to 'Destroy', administrators_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
