<header>
  <h2 style="display:inline-block;">Users</h2>
  <div class="pull-right" style="margin-top: 20px;">
    <%= link_to "New User", new_administrators_user_path, class: "btn btn-default" %>
  </div>
</header>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, administrators_user_path(user) %></td>
        <td><%= link_to user.name, administrators_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>    
    <% end %>

    <%#= render @users %>
  </tbody>
</table>
