<%= form_for [:administrator, @assignment] do |f| %>

  <%= f.submit "Run solver", class: "btn btn-warning" %>
  <%= f.submit "Save", class: "btn btn-success" %>

  <br>
  <br>

  <div class="table-responsive">
    <table class="table table-sm table-striped">
      <tr>
        <td></td>
        <% @sections.each do |section| %>
          <td>
            <span style="white-space: nowrap;"><%= section.course.label %>-<%= section.section %></span><br>
            <span style="white-space: nowrap;"><%= section.cc_instructor_tag %></span><br>
            <span style="white-space: nowrap;"><%= section.current_enrollment %> / <%= section.max_enrollment %></span>
          </td>
        <% end %>
      </tr>

      <% @students.each do |student| %>
        <tr>
          <td>
            <span style="white-space: nowrap;"><%= student.full_name %></span>
          </td>
          <% @sections.each do |section| %>
            <td>
              <select name="assignments[<%= student.id %>_<%= section.id %>]">
                <option></option>

                <% if @pairs["#{student.id}_#{section.id}"] == "Yes" %>
                  <option value="Yes" selected>Yes</option>
                <% else %>
                  <option value="Yes">Yes</option>
                <% end %>

                <% if @pairs["#{student.id}_#{section.id}"] == "Maybe" %>
                  <option value="Maybe" selected>Maybe</option>
                <% else %>
                  <option value="Maybe">Maybe</option>
                <% end %>

                <% if @pairs["#{student.id}_#{section.id}"] == "No" %>
                  <option value="No" selected>No</option>
                <% else %>
                  <option value="No">No</option>
                <% end %>
              </select>
            </td>
          <% end %>
        </tr>
      <% end %>

    </table>
  </div>
<% end %>
