<%= form_tag "/administrator/assignment", method: :post do %>

  <header>
    <h2 style="display:inline-block;">Assignment</h2>
    <div class="pull-right" style="margin-top: 20px;">
      <%= submit_tag "Run assignment", class: "btn btn-primary" %>
      <%= submit_tag "Export to pdf", class: "btn btn-success" %>
    </div>
  </header>

  <br>

  <div class="table-responsive">
    <table class="table table-sm table-striped">
      <tr>
        <td></td>
        <% @sections.each do |section| %>
          <td>
            <span style="white-space: nowrap;"><%= section.course.label %></span><br>
            <span style="white-space: nowrap;"><%= section.cc_instructor_tag %></span>
          </td>
        <% end %>
      </tr>

      <% @students.each do |student| %>
        <tr>
          <td>
            <span style="white-space: nowrap;"><%= student.full_name %></span>
          </td>
          <% @sections.each do |section| %>
            <td>
              <select name="assignments[<%= student.id %>_<%= section.id %>]">
                <option></option>

                <% if @pairs["#{student.id}_#{section.id}"] == "Yes" %>
                  <option value="Yes" selected>Yes</option>
                <% else %>
                  <option value="Yes">Yes</option>
                <% end %>

                <% if @pairs["#{student.id}_#{section.id}"] == "Maybe" %>
                  <option value="Maybe" selected>Maybe</option>
                <% else %>
                  <option value="Maybe">Maybe</option>
                <% end %>

                <% if @pairs["#{student.id}_#{section.id}"] == "No" %>
                  <option value="No" selected>No</option>
                <% else %>
                  <option value="No">No</option>
                <% end %>
              </select>
            </td>
          <% end %>
        </tr>
      <% end %>

    </table>
  </div>

<% end %>
